################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/PortugolJavaConsole/bin/Debug
/PortugolJavaConsole/obj/Debug
/Portugol_Java/bin/Debug
/Portugol_Java/obj/Debug
/.vs/Portugol_Java/v14
